<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<ion-icon name="game-controller-a"></ion-icon>
			Connect Four
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="box-left">
		<div style="display: inline-block">
			<div style="overflow: hidden">
				<div *ngIf="round == 0 && status == 0">
					<h2 style="float: left">
						{{player1}}
						<span [style.color]="selectedcolorplayer1">⬤</span>
					</h2>
					<h4 style="float: right">
						<span [style.color]="selectedcolorplayer2">⬤</span> {{player2}}
					</h4>
				</div>
				<div *ngIf="round == 1 && status == 0">
					<h4 style="float: left">
						{{player1}}
						<span [style.color]="selectedcolorplayer1">⬤</span>
					</h4>
					<h2 style="float: right">
						<span [style.color]="selectedcolorplayer2">⬤</span> {{player2}}
					</h2>
				</div>
			</div>
			<h2 *ngIf="winner == 1">{{player1}} won the game!</h2>
			<h2 *ngIf="winner == 2">{{player2}} won the game!</h2>
			<h2 *ngIf="winner == 3">Tied!</h2>
			<p>Round: {{currentRound}} / {{rounds}}</p>
			<table id="game_board" [style.background]="gameboardColor">
				<tr *ngFor="let i of arows">
					<td *ngFor="let j of acolumns" (click)="act($event)" class='empty'></td>
				</tr>
			</table>
			<div id="loading">The Computer is thinking&hellip;</div>
			<h3 *ngIf="rounds > 1">Score: {{player1Wins}} - {{player2Wins}} - {{ties}}</h3>
			<p>Player 1 is
				<span [style.color]="selectedcolorplayer1">
					<strong>⬤</strong>
				</span> Player 2 is
				<span [style.color]="selectedcolorplayer2">
					<strong>⬤</strong>
				</span>
			</p>
		</div>
	</div>

	<div *ngIf="(opponent == 2 || opponent == 5) && aiInfo">
		<h3>Info</h3>
		<p> Iterations: {{aiIterations}}
			<br> Time: {{aiTime}} ms
			<br> Column: {{aiColumn}}
			<br> Score: {{aiScore}}
		</p>
		<p>Status:
			<span *ngIf="status == 0" class="status-running">Running</span>
			<span *ngIf="status == 1" class="status-won">Won</span>
			<span *ngIf="status == 2" class="status-lost">Lost</span>
			<span *ngIf="status == 3" class="status-tie">Tie</span>
		</p>
	</div>
</ion-content>